.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;

  transition: opacity 300ms ease-out, transform 300ms ease-out;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;

  transition: opacity 300ms ease-in, transform 300ms ease-in;
}

/* transition.css */
.preset-collapse {
  overflow: hidden;
}
/* entering */
.preset-collapse-enter {
  max-height: 0;
  opacity: 0;
}
.preset-collapse-enter-active {
  max-height: 6rem; /* match your content’s height */
  opacity: 1;
  transition: max-height 300ms ease, opacity 300ms ease;
}
/* exiting */
.preset-collapse-exit {
  max-height: 6rem;
  opacity: 1;
}
.preset-collapse-exit-active {
  max-height: 0;
  opacity: 0;
  transition: max-height 300ms ease, opacity 300ms ease;
}
